<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>    
    {% for food in FOOD %}
        <h1>Món ăn số {{loop.index}}</h1>
        <img src="{{food.link}}" alt="">
        <p>Tiêu đề: {{food.title}}</p>
        <p>Mô tả: {{food.des}}</p>
        {% if food._type == 'food' %}
        <p>Loại : đồ ăn</p>
        {% else %}
        <p>Loại : đồ uống</p>
        {% endif %}
        <a href="/foods/detail/{{loop.index0}}">Xem chi tiet</a>
        <a href="/foods/delete/{{loop.index0}} ">xóa món ăn</a>
    {% endfor %}
</body>
</html>